.container__wrapper {
    background-image: url(../public/image/background\ 1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1030px;
    height: 100%;
    flex-direction: column;
}

.header {
    align-items: center;
    margin-top: 46px;
    height: 61px;
}

.header__logo {
    align-items: flex-end;
    cursor: pointer;
}

.logo__img {
    height: 47px;
    width: 53px;
    background-image: url(../public/logo/logo\ -\ before.png);
}

.header__logo:hover>.logo__title {
    color: #F26522;
}

.header__logo:hover>.logo__img {
    background-image: url(../public/logo/logo\ -\ after.png);
}

.logo__title {
    margin-left: 8px;
    text-transform: uppercase;
    text-align: left;
    line-height: 14px;
    width: 140px;
}

.logo__title::first-line {
    font-weight: 700;
    font-size: 29px;
    line-height: 35px;
}

.header__connection {
    height: inherit;
    align-items: flex-end;
    flex-direction: column;
}

.e-mail, .number {
    display: flex;
    justify-content: end;
}

.e-mail:hover, .number:hover {
    color: #F26522;
} 

.cards {
    height: 560px;
    align-content: space-between;
    flex-wrap: wrap;
    overflow-x: auto;
}

.card {
    height: 261px;
    width: 300px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    cursor: pointer;
    overflow-x: hidden;
}

.card__img {
    height: 220px;
    width: inherit;
}

.card__caption {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__price {
    display: none;
    position: absolute;
    height: 55px;
    width: 300px;
    background: #F26522;
    padding: 12px 16px;
}

.price__description, .price, .price__details {
    font-family: 'Roboto';
    font-weight: 400;
    color: white;
}

.price__description {
    font-size: 10px;
}

.price {
    margin-top: 8px;
    font-size: 20px;
}

.price__details {
    font-size: 14px;
}

.price__details:after {
    content: ' >';
    font-size: 125%;
}

.card:hover>.card__caption {
    color: #F26522;
}
.card:hover>.card__price {
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    margin-top: 165px;
}

.container, .header, .header__logo, .header__connection, .cards {
    display: flex;
    justify-content: space-between;
}

.logo__title, .header__connection, .card__caption, .footer {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.footer {
    margin-bottom: 15px;
    width: inherit;
    display: flex;
    justify-content: center;
    font-size: 12px;
}